---
http_interactions:
- request:
    method: get
    uri: http://congress.api.sunlightfoundation.com/legislators?apikey=2332b2d6ece8483cada5438adf41851d&gender=F
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"bioguide_id":"E000295","birthday":"1970-07-01","chamber":"senate","contact_form":null,"crp_id":"N00035483","district":null,"facebook_id":"351671691660938","fax":null,"fec_ids":["S4IA00129"],"first_name":"Joni","gender":"F","govtrack_id":"412667","in_office":true,"last_name":"Ernst","leadership_role":null,"lis_id":"S376","middle_name":null,"name_suffix":null,"nickname":null,"oc_email":"Sen.Ernst@opencongress.org","ocd_id":"ocd-division/country:us/state:ia","office":"111
        Russell Senate Office Building","party":"R","phone":"202-224-3254","senate_class":2,"state":"IA","state_name":"Iowa","state_rank":"junior","term_end":"2021-01-03","term_start":"2015-01-06","thomas_id":"02283","title":"Sen","twitter_id":"SenJoniErnst","website":"http://www.ernst.senate.gov"},{"bioguide_id":"R000600","birthday":"1947-12-29","chamber":"house","contact_form":null,"crp_id":"N00007635","district":0,"facebook_id":"1537155909907320","fax":"202-225-8757","fec_ids":["H4AS00036"],"first_name":"Aumua","gender":"F","govtrack_id":"412664","in_office":true,"last_name":"Amata","leadership_role":null,"middle_name":null,"name_suffix":null,"nickname":null,"oc_email":"Rep.Radewagen@opencongress.org","ocd_id":"ocd-division/country:us/territory:as","office[...]
