---
http_interactions:
- request:
    method: get
    uri: http://congress.api.sunlightfoundation.com/legislators?apikey=2332b2d6ece8483cada5438adf41851d&gender=M
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"bioguide_id":"L000585","birthday":"1968-07-05","chamber":"house","contact_form":"https://lahood.house.gov/contact/email","crp_id":"N00037031","district":18,"fax":null,"fec_ids":["H6IL18088"],"first_name":"Darin","gender":"M","govtrack_id":"412674","in_office":true,"last_name":"LaHood","leadership_role":null,"middle_name":null,"name_suffix":null,"nickname":null,"oc_email":"Rep.Lahood@opencongress.org","ocd_id":"ocd-division/country:us/state:il/cd:18","office":"2464
        Rayburn House Office Building","party":"R","phone":"202-225-6201","state":"IL","state_name":"Illinois","term_end":"2017-01-03","term_start":"2015-09-17","thomas_id":"02295","title":"Rep","votesmart_id":128760,"website":"https://lahood.house.gov/"},{"bioguide_id":"K000388","birthday":"1966-03-01","chamber":"house","contact_form":"https://trentkelly.house.gov/contact","crp_id":"N00037003","district":1,"facebook_id":"reptrentkelly","fax":null,"fec_ids":["H6MS01131"],"first_name":"Trent","gender":"M","govtrack_id":"412673","in_office":true,"last_name":"Kelly","leadership_role":null,"middle_name":null,"name_suffix":null,"nickname":null,"oc_email":"Rep.Trentkelly@opencongress.org","ocd_id":"ocd-division/country:us/state:ms/cd:1","office":"1427
        Longworth House Office Building","party":"R","phone":"202-225-4306","state":"MS","state_name":"Mississippi","term_end":"2017-01-03","term_start":"2015-06-09","thomas_id":"02294","title":"Rep","twitter_id":"reptrentkelly","votesmart_id":156389,"website":"https://trentkelly.house.gov"},{"bioguide_id":"D000625","birthday":"1956-11-06","chamber":"house","contact_form":null,"crp_id":"N00036928","district":11,"facebook_id":"867632656644580","fax":null,"fec_ids":["H6NY11174"],"first_name":"Daniel","gender":"M","govtrack_id":"412672","in_office":true,"last_name":"Donovan","leadership_role":null,"middle_name":"M.","name_suffix":"Jr.","nickname":null,"oc_email":"Rep.Donovan@opencongress.org","ocd_id":"ocd-division/country:us/state:ny/cd:11","office":"1725
        Longworth House Office Building","party":"R","phone":"202-225-3371","state":"NY","state_name":"New
        York","term_end":"2017-01-03","term_start":"2015-05-12","thomas_id":"02293","title":"Rep","twitter_id":"RepDanDonovan","votesmart_id":127760,"website":"https://donovan.house.gov"},{"bioguide_id":"S001197","birthday":"1972-02-22","chamber":"senate","contact_form":null,"crp_id":"N00035544","district":null,"facebook_id":"SenatorSasse","fax":null,"fec_ids":["S4NE00090"],"first_name":"Benjamin","gender":"M","govtrack_id":"412671","in_office":true,"last_name":"Sasse","leadership_role":null,"lis_id":"S382","middle_name":"Eric","name_suffix":null,"nickname":null,"oc_email":"Sen.Sasse@opencongress.org","ocd_id":"ocd-division/country:us/state:ne","office":"386a
        Russell Senate Office Building","party":"R","phone":"202-224-4224","senate_class":2,"state":"NE","state_name":"Nebraska","state_rank":"junior","term_end":"2021-01-03","term_start":"2015-01-06","thomas_id":"02289","title":"Sen","twitter_id":"SenSasse","website":"http://www.sasse.senate.gov"},{"bioguide_id":"W000819","birthday":"1969-05-20","chamber":"house","contact_form":null,"crp_id":"N00035311","district":6,"facebook_id":"RepMarkWalker","fax":"202-225-8611","fec_ids":["H4NC06052"],"first_name":"Mark","gender":"M","govtrack_id":"412670","in_office":true,"last_name":"Walker","leadership_role":null,"middle_name":null,"name_suff[...]
